h1 {
    font-weight: normal;
    font-size: 2rem;
}

h2 {
    font-weight: normal;
    margin: 0;
    margin-bottom: 1em;
}

h3 {
    font-weight: normal;
}

.fill-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

@for $i from 0 through 10 {
    .mg-#{$i}em {
        margin: #{$i}em;
    }
    .mg-#{$i}px {
        margin: #{$i}px;
    }

    .mg-bottom-#{$i}em, .mg-b-#{$i}em {
        margin-bottom: #{$i}em;
    }
    .mg-bottom-#{$i}px, .mg-b-#{$i}px {
        margin-bottom: #{$i}px;
    }

    .mg-top-#{$i}em, .mg-t-#{$i}em {
        margin-top: #{$i}em;
    }
    .mg-top-#{$i}px, .mg-top-#{$i}px {
        margin-top: #{$i}px;
    }

    .mg-left-#{$i}em, .mg-l-#{$i}em {
        margin-left: #{$i}em;
    }
    .mg-left-#{$i}px, .mg-l-#{$i}px {
        margin-left: #{$i}px;
    }

    .mg-right-#{$i}em, .mg-r-#{$i}em {
        margin-right: #{$i}em;
    }
    .mg-right-#{$i}px, .mg-r-#{$i}px {
        margin-right: #{$i}px;
    }

    .mg-vertical-#{$i}em, .mg-v-#{$i}em {
        margin: #{$i}em auto;
    }
    .mg-vertical-#{$i}px, .mg-v-#{$i}px {
        margin: #{$i}px auto;
    }

    .mg-horizonal-#{$i}em, .mg-h-#{$i}em {
        margin: auto #{$i}em;
    }
    .mg-horizonal-#{$i}px, .mg-h-#{$i}px {
        margin: auto #{$i}px;
    }
}

.inline-block {
    display: inline-block;
}

.file-select {
    display: flex;
    align-items: center;
    
    &>.selected-file {
        flex-grow: 1;
        text-overflow: ellipsis;
    }
}