:root {
    --mdc-theme-primary: #138bf0;
    --mdc-theme-secondary: #00d9b9;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #138bf0de;
}