@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import "media";
@import "view";
@import "basic";
@import "color";

body {
    margin: 0;
    font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
}