$pc: 1024px;
$tab: 680px;
$sp: 480px;

@mixin pc {
    @media (min-width: ($pc)) {
        @content;
    }
}
@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}