@import "media";

.title {
    display: flex;
    align-items: center;
    background-color: #42A5F5;
    color: white;

    &>h1 {
        padding-left: 1rem;
        font-weight: 300;
        font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
    }
}

.app-view {
    display: grid;
    @include pc {
        grid-template-columns: 1fr 1fr;
    };
    @include tab {
        grid-template-rows: 1fr 1fr;
    };
    
    &>* {
        margin: 1em;
    }
}

.button-container-right {
    text-align: right;
}