@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
.title {
  display: flex;
  align-items: center;
  background-color: #42A5F5;
  color: white; }
  .title > h1 {
    padding-left: 1rem;
    font-weight: 300;
    font-family: 'Open Sans', 'Noto Sans JP', sans-serif; }

.app-view {
  display: grid; }
  @media (min-width: 1024px) {
    .app-view {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 680px) {
    .app-view {
      grid-template-rows: 1fr 1fr; } }
  .app-view > * {
    margin: 1em; }

.button-container-right {
  text-align: right; }

h1 {
  font-weight: normal;
  font-size: 2rem; }

h2 {
  font-weight: normal;
  margin: 0;
  margin-bottom: 1em; }

h3 {
  font-weight: normal; }

.fill-width {
  width: 100%; }

.text-center {
  text-align: center; }

.mg-0em {
  margin: 0em; }

.mg-0px {
  margin: 0px; }

.mg-bottom-0em, .mg-b-0em {
  margin-bottom: 0em; }

.mg-bottom-0px, .mg-b-0px {
  margin-bottom: 0px; }

.mg-top-0em, .mg-t-0em {
  margin-top: 0em; }

.mg-top-0px, .mg-top-0px {
  margin-top: 0px; }

.mg-left-0em, .mg-l-0em {
  margin-left: 0em; }

.mg-left-0px, .mg-l-0px {
  margin-left: 0px; }

.mg-right-0em, .mg-r-0em {
  margin-right: 0em; }

.mg-right-0px, .mg-r-0px {
  margin-right: 0px; }

.mg-vertical-0em, .mg-v-0em {
  margin: 0em auto; }

.mg-vertical-0px, .mg-v-0px {
  margin: 0px auto; }

.mg-horizonal-0em, .mg-h-0em {
  margin: auto 0em; }

.mg-horizonal-0px, .mg-h-0px {
  margin: auto 0px; }

.mg-1em {
  margin: 1em; }

.mg-1px {
  margin: 1px; }

.mg-bottom-1em, .mg-b-1em {
  margin-bottom: 1em; }

.mg-bottom-1px, .mg-b-1px {
  margin-bottom: 1px; }

.mg-top-1em, .mg-t-1em {
  margin-top: 1em; }

.mg-top-1px, .mg-top-1px {
  margin-top: 1px; }

.mg-left-1em, .mg-l-1em {
  margin-left: 1em; }

.mg-left-1px, .mg-l-1px {
  margin-left: 1px; }

.mg-right-1em, .mg-r-1em {
  margin-right: 1em; }

.mg-right-1px, .mg-r-1px {
  margin-right: 1px; }

.mg-vertical-1em, .mg-v-1em {
  margin: 1em auto; }

.mg-vertical-1px, .mg-v-1px {
  margin: 1px auto; }

.mg-horizonal-1em, .mg-h-1em {
  margin: auto 1em; }

.mg-horizonal-1px, .mg-h-1px {
  margin: auto 1px; }

.mg-2em {
  margin: 2em; }

.mg-2px {
  margin: 2px; }

.mg-bottom-2em, .mg-b-2em {
  margin-bottom: 2em; }

.mg-bottom-2px, .mg-b-2px {
  margin-bottom: 2px; }

.mg-top-2em, .mg-t-2em {
  margin-top: 2em; }

.mg-top-2px, .mg-top-2px {
  margin-top: 2px; }

.mg-left-2em, .mg-l-2em {
  margin-left: 2em; }

.mg-left-2px, .mg-l-2px {
  margin-left: 2px; }

.mg-right-2em, .mg-r-2em {
  margin-right: 2em; }

.mg-right-2px, .mg-r-2px {
  margin-right: 2px; }

.mg-vertical-2em, .mg-v-2em {
  margin: 2em auto; }

.mg-vertical-2px, .mg-v-2px {
  margin: 2px auto; }

.mg-horizonal-2em, .mg-h-2em {
  margin: auto 2em; }

.mg-horizonal-2px, .mg-h-2px {
  margin: auto 2px; }

.mg-3em {
  margin: 3em; }

.mg-3px {
  margin: 3px; }

.mg-bottom-3em, .mg-b-3em {
  margin-bottom: 3em; }

.mg-bottom-3px, .mg-b-3px {
  margin-bottom: 3px; }

.mg-top-3em, .mg-t-3em {
  margin-top: 3em; }

.mg-top-3px, .mg-top-3px {
  margin-top: 3px; }

.mg-left-3em, .mg-l-3em {
  margin-left: 3em; }

.mg-left-3px, .mg-l-3px {
  margin-left: 3px; }

.mg-right-3em, .mg-r-3em {
  margin-right: 3em; }

.mg-right-3px, .mg-r-3px {
  margin-right: 3px; }

.mg-vertical-3em, .mg-v-3em {
  margin: 3em auto; }

.mg-vertical-3px, .mg-v-3px {
  margin: 3px auto; }

.mg-horizonal-3em, .mg-h-3em {
  margin: auto 3em; }

.mg-horizonal-3px, .mg-h-3px {
  margin: auto 3px; }

.mg-4em {
  margin: 4em; }

.mg-4px {
  margin: 4px; }

.mg-bottom-4em, .mg-b-4em {
  margin-bottom: 4em; }

.mg-bottom-4px, .mg-b-4px {
  margin-bottom: 4px; }

.mg-top-4em, .mg-t-4em {
  margin-top: 4em; }

.mg-top-4px, .mg-top-4px {
  margin-top: 4px; }

.mg-left-4em, .mg-l-4em {
  margin-left: 4em; }

.mg-left-4px, .mg-l-4px {
  margin-left: 4px; }

.mg-right-4em, .mg-r-4em {
  margin-right: 4em; }

.mg-right-4px, .mg-r-4px {
  margin-right: 4px; }

.mg-vertical-4em, .mg-v-4em {
  margin: 4em auto; }

.mg-vertical-4px, .mg-v-4px {
  margin: 4px auto; }

.mg-horizonal-4em, .mg-h-4em {
  margin: auto 4em; }

.mg-horizonal-4px, .mg-h-4px {
  margin: auto 4px; }

.mg-5em {
  margin: 5em; }

.mg-5px {
  margin: 5px; }

.mg-bottom-5em, .mg-b-5em {
  margin-bottom: 5em; }

.mg-bottom-5px, .mg-b-5px {
  margin-bottom: 5px; }

.mg-top-5em, .mg-t-5em {
  margin-top: 5em; }

.mg-top-5px, .mg-top-5px {
  margin-top: 5px; }

.mg-left-5em, .mg-l-5em {
  margin-left: 5em; }

.mg-left-5px, .mg-l-5px {
  margin-left: 5px; }

.mg-right-5em, .mg-r-5em {
  margin-right: 5em; }

.mg-right-5px, .mg-r-5px {
  margin-right: 5px; }

.mg-vertical-5em, .mg-v-5em {
  margin: 5em auto; }

.mg-vertical-5px, .mg-v-5px {
  margin: 5px auto; }

.mg-horizonal-5em, .mg-h-5em {
  margin: auto 5em; }

.mg-horizonal-5px, .mg-h-5px {
  margin: auto 5px; }

.mg-6em {
  margin: 6em; }

.mg-6px {
  margin: 6px; }

.mg-bottom-6em, .mg-b-6em {
  margin-bottom: 6em; }

.mg-bottom-6px, .mg-b-6px {
  margin-bottom: 6px; }

.mg-top-6em, .mg-t-6em {
  margin-top: 6em; }

.mg-top-6px, .mg-top-6px {
  margin-top: 6px; }

.mg-left-6em, .mg-l-6em {
  margin-left: 6em; }

.mg-left-6px, .mg-l-6px {
  margin-left: 6px; }

.mg-right-6em, .mg-r-6em {
  margin-right: 6em; }

.mg-right-6px, .mg-r-6px {
  margin-right: 6px; }

.mg-vertical-6em, .mg-v-6em {
  margin: 6em auto; }

.mg-vertical-6px, .mg-v-6px {
  margin: 6px auto; }

.mg-horizonal-6em, .mg-h-6em {
  margin: auto 6em; }

.mg-horizonal-6px, .mg-h-6px {
  margin: auto 6px; }

.mg-7em {
  margin: 7em; }

.mg-7px {
  margin: 7px; }

.mg-bottom-7em, .mg-b-7em {
  margin-bottom: 7em; }

.mg-bottom-7px, .mg-b-7px {
  margin-bottom: 7px; }

.mg-top-7em, .mg-t-7em {
  margin-top: 7em; }

.mg-top-7px, .mg-top-7px {
  margin-top: 7px; }

.mg-left-7em, .mg-l-7em {
  margin-left: 7em; }

.mg-left-7px, .mg-l-7px {
  margin-left: 7px; }

.mg-right-7em, .mg-r-7em {
  margin-right: 7em; }

.mg-right-7px, .mg-r-7px {
  margin-right: 7px; }

.mg-vertical-7em, .mg-v-7em {
  margin: 7em auto; }

.mg-vertical-7px, .mg-v-7px {
  margin: 7px auto; }

.mg-horizonal-7em, .mg-h-7em {
  margin: auto 7em; }

.mg-horizonal-7px, .mg-h-7px {
  margin: auto 7px; }

.mg-8em {
  margin: 8em; }

.mg-8px {
  margin: 8px; }

.mg-bottom-8em, .mg-b-8em {
  margin-bottom: 8em; }

.mg-bottom-8px, .mg-b-8px {
  margin-bottom: 8px; }

.mg-top-8em, .mg-t-8em {
  margin-top: 8em; }

.mg-top-8px, .mg-top-8px {
  margin-top: 8px; }

.mg-left-8em, .mg-l-8em {
  margin-left: 8em; }

.mg-left-8px, .mg-l-8px {
  margin-left: 8px; }

.mg-right-8em, .mg-r-8em {
  margin-right: 8em; }

.mg-right-8px, .mg-r-8px {
  margin-right: 8px; }

.mg-vertical-8em, .mg-v-8em {
  margin: 8em auto; }

.mg-vertical-8px, .mg-v-8px {
  margin: 8px auto; }

.mg-horizonal-8em, .mg-h-8em {
  margin: auto 8em; }

.mg-horizonal-8px, .mg-h-8px {
  margin: auto 8px; }

.mg-9em {
  margin: 9em; }

.mg-9px {
  margin: 9px; }

.mg-bottom-9em, .mg-b-9em {
  margin-bottom: 9em; }

.mg-bottom-9px, .mg-b-9px {
  margin-bottom: 9px; }

.mg-top-9em, .mg-t-9em {
  margin-top: 9em; }

.mg-top-9px, .mg-top-9px {
  margin-top: 9px; }

.mg-left-9em, .mg-l-9em {
  margin-left: 9em; }

.mg-left-9px, .mg-l-9px {
  margin-left: 9px; }

.mg-right-9em, .mg-r-9em {
  margin-right: 9em; }

.mg-right-9px, .mg-r-9px {
  margin-right: 9px; }

.mg-vertical-9em, .mg-v-9em {
  margin: 9em auto; }

.mg-vertical-9px, .mg-v-9px {
  margin: 9px auto; }

.mg-horizonal-9em, .mg-h-9em {
  margin: auto 9em; }

.mg-horizonal-9px, .mg-h-9px {
  margin: auto 9px; }

.mg-10em {
  margin: 10em; }

.mg-10px {
  margin: 10px; }

.mg-bottom-10em, .mg-b-10em {
  margin-bottom: 10em; }

.mg-bottom-10px, .mg-b-10px {
  margin-bottom: 10px; }

.mg-top-10em, .mg-t-10em {
  margin-top: 10em; }

.mg-top-10px, .mg-top-10px {
  margin-top: 10px; }

.mg-left-10em, .mg-l-10em {
  margin-left: 10em; }

.mg-left-10px, .mg-l-10px {
  margin-left: 10px; }

.mg-right-10em, .mg-r-10em {
  margin-right: 10em; }

.mg-right-10px, .mg-r-10px {
  margin-right: 10px; }

.mg-vertical-10em, .mg-v-10em {
  margin: 10em auto; }

.mg-vertical-10px, .mg-v-10px {
  margin: 10px auto; }

.mg-horizonal-10em, .mg-h-10em {
  margin: auto 10em; }

.mg-horizonal-10px, .mg-h-10px {
  margin: auto 10px; }

.inline-block {
  display: inline-block; }

.file-select {
  display: flex;
  align-items: center; }
  .file-select > .selected-file {
    flex-grow: 1;
    text-overflow: ellipsis; }

:root {
  --mdc-theme-primary: #138bf0;
  --mdc-theme-secondary: #00d9b9;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff; }

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #138bf0de; }

body {
  margin: 0;
  font-family: 'Open Sans', 'Noto Sans JP', sans-serif; }

/*# sourceMappingURL=bundle.css.map */
